{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Time Placeholder</h2>

    <section id="help">

            <p>This is where I will put the bookings list for logged in users.</p>

            {% if session.user.staff %}
            <p>This is where I will put the bookings list for admin</p>
            {% endif %}

    </section>

{% endblock %}

