{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Time Placeholder</h2>

    <section id="help">

        {% if session.logged_in %}

            <p>This is where I will put the help section for logged in users.</p>

            {% if session.user.staff %}
            <p>This is where I will put the help section for admin</p>
            {% endif %}
            
        {% else %}

            <p>This is where I will put the help section for logged out users</p>

        {% endif %}

    </section>

{% endblock %}

