{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Time Placeholder</h2>

    <section id="help">

        {% if session.logged_in %}

            <p>u r logged in</p>

            {% if session.user.staff %}
            <p>and u staff</p>
            {% endif %}
            
        {% else %}

            <p>u r not logged in</p>

        {% endif %}

    </section>

{% endblock %}

