{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Time Placeholder</h2>

    <section id="form">
        <article class="form">

            <form method="post" action="/login">
                <label>
                    Username
                    <input name="username" type="text" required>
                </label>
            
                <label>
                    Password
                    <input name="password" type="password" required>
                </label>
            
                <button>Login</button>
            </form>

        <a href="/signup">Sign Up?</a>

    </section>

    

{% endblock %}

